@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0 auto;
}

header {
	text-align: center;
	background-color: orange;
}

header>nav {
	background-color: black;
	text-align: left;
}

header>nav>a {
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

header>nav>ul>li {
	display: inline-block;
}

footer {
	text-align: center;
	background-color: orange;
}

h1 {
	text-align: center;
}


section {
	height: 500px;
}